@font-face {
    font-family: 'Inter';
    src: url('/public/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;   /* доступный диапазон веса */
    font-style: normal;      /* в этом файле нет italic */
    font-display: swap;
}

:root {
    --light-text-primary: #000;
    --light-text-secondary: #878787;
    --light-text-incomemoney: #148f2b;
    --light-text-inverse: #fff;
    --light-background-secondary: #f1f1f1;
    --light-background-primary: #fff;
    --light-background-detail: #e9e9e9;
    --light-background-footer: #454545;
    --vbank-logo: #6590ff;
    --abank-logo: #ff4890;
    --sbank-logo: #1fd5a7;
}

:root {
    --font-family: "Inter", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
}

h2 {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: var(--light-text-primary);
    margin-block: 0;
}

h2.inactive {
    color: var(--light-text-secondary);
}

ul, ol {
    list-style: none; /* без маркеров/номеров */
    margin: 0; /* сброс дефолтных отступов браузера */
    padding: 0;
}

.logo {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    line-height: 3.5rem;
    font-size: 36px;
    color: var(--light-text-primary);
    text-decoration: none; /* без подчёркивания */
    cursor: inherit;
}

p {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: var(--light-text-primary);
    margin: 0 !important;
    line-height: 1
}

p.secondary {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--light-text-secondary);
}

body {
    font-family: var(--font-family), sans-serif;
    background: var(--light-background-secondary);
    line-height: 1 !important;
}

.left-side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 60px;
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.left-side nav ul {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
}

.left-side nav ul a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}


main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 0;
    padding: 30px 100px;
    width: 100%;
    height: 100%;
}

main > * {
    flex: 1 1 0; /* grow=1, shrink=1, basis=0 → равные доли */
    min-width: 0; /* важно: разрешить ужиматься содержимому */
    box-sizing: border-box;
}


.main-part {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    min-width: 50vw !important;
    width: 50vw;
    flex-shrink: 0;
}


.search {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    border-radius: 16px;
    padding: 20px 30px;
    width: 100%;
    height: 3.5rem;
    background: var(--light-background-detail);
}

.main-part input#search {
    border: none;
    background: none;
    padding: 0;
    width: 100%;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--light-text-secondary);

    all: unset; /* сносит ВСЁ авторское и UA, включая display */
    display: inline-block; /* вернуть поведение */
    box-sizing: border-box;

    background: transparent;

    /* убрать хром/ios-стили */
    appearance: none;
    -webkit-appearance: none;

    /* на всякий */
    border: 0;
    margin: 0;
    outline: none;

}

footer{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 30px;
    border-radius: 20px 20px 0 0;
    padding: 30px 100px;
    background: var(--light-background-footer);

}

footer h2{
    color: var(--light-text-inverse) !important;
}

.right-side {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex-direction: row;
    gap: 20px;
    width: 100%;
    height: 100%;
}

.right-side img {
    aspect-ratio: 1/1;
    height: 2.8rem;
}
